.chatListWrapper{ 
  overflow-y: scroll;
  background-color: #1A181C ;
  color: white;
}

.chatListHeader{
  font-size: x-large;
  font-weight: lighter;
  padding: 10px;
  background-color: #292D37;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginUser{
  font-size: 13px;
  cursor: pointer;
}
.list{
  font-size: xx-large;
  /* border-bottom: 1px solid darkslategray; */
  padding: 8px;
  display: flex;
  cursor:pointer;
}
.list:hover{
  background-color: #333D49;
}
 
.initialLetter{
  font-size: 15px;
  border: 1px solid;
  padding: 7px;
  border-radius: 20px;
  width: 20px;
  text-align: center;
  height: 20px;
  background-color: #67426E;
}