.card_wrapper{
  display: flex;
  flex-direction: column;
  background-color: #292D37;
}

.text_button_wrapper{
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  padding: 1%;
  color: white;
}

.send_button{
  /* margin-top: 11px; */
  border: 1px solid transparent;
  background-color: teal;
  border-radius: 6px;
}

.header{
  display: flex;
  justify-content: flex-start;
  background-color: #292D37;
  padding: 10px;
  font-weight: normal;
  font-size: x-large;
}

.chat-area{
  height:470px;
  overflow: auto;
  background-color: #1A191C;
}
.sent-msg{
  background-color: #6742B8;
  padding: 5px;
  margin:10px;
  border-radius: 10px;
  width:200px;
  overflow: hidden;
  color: white;
  margin-left: 125px;
}

.received-msg{
  background-color: #323036;
  padding: 5px;
  margin:10px;
  border-radius: 10px;
  width:200px;
  overflow: hidden;
  align-self: right;
  color: white;
}